body {
	background-color: #f0f0f0;
}

.pagehelp {
	color: #fff;
}

.pagehelp a,.pagehelp a:link,.pagehelp a:visited {
	color: #fff;
}

/* colors */
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #999999;
    background-color: #f5f5f5;
    border-color: #dddddd;
    cursor: pointer;
}
/* even get rid off the margins */
.pagination {
    margin: 0;
}